.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    border: 2px solid rgb(223, 13, 13);
}




.img-container{
    text-align: center;
}
.img-container p{
    margin: 0;
}